@charset "UTF-8";

@font-face {
  font-family: "opensans";
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#order-root {
	width: 930px;
	height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.user-info-middle-font {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 20px;
}

.user-info-top-delivery-location {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 20px 0;
  margin-bottom: 20px;
}

.user-info-top {
  font-size: 13px;
}

.title-content {
  display: flex;
}

.goods-list-visible {
  display: flex;
  margin-bottom: 30px;
}

.goods-list-hidden {
  visibility: hidden;
}

.select-location {
  display: flex;
  flex-direction: column;
}

.goods-box{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.total-price {
  display: flex;
  border: none;
  width: 930px;
  height: 70px;
  background: red;
  color: white;
  padding-top: 13px;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.total-price:hover {
  background: rgb(193, 0, 0);
  color: white;
}


.img-box {
  width: 100px;
  height: 100px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.goods-info {
  width: 600px;
  padding-left: 30px;
}

.goods-price {
  border-left: 1px solid rgb(218, 218, 218);
  padding: 40px 10px;
}

.counter-box {
  display: flex;
}

.cost-position {
  display: flex;
}

.more-button {
  border: 1px solid rgb(134, 134, 134);
  width: 500px;
  height: 50px;
  text-align: center;
  padding: 13px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.more-button:hover{
  background: black;
  color: white;
}

.close-hidden-box {
  visibility: hidden;
  border: 1px solid rgb(134, 134, 134);
  width: 500px;
  height: 50px;
  text-align: center;
  padding: 13px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.close-hidden-box:hover{
  background: black;
  color: white;
}

.title-content {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 23px;
  border-bottom: 1px solid rgb(218, 218, 218);
}