@charset "UTF-8";
@font-face {
  font-family: "opensans";
  src: url("fonts/fontawesome-webfont.woff2") format("woff2"),
    url("fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
} 

body {
	margin: 0;
	font-family: "opensans";
}

#root {
	position: relative;
	max-width: 100%;
	min-width: 1280px;
	max-height: 730px;
	margin: 0 auto;
}