/* 노브랜드 배너(노브랜드의 시작) */
.text-gray {
	color: gray;
}

.carousel-main {
	width: 1280px;
	margin: auto;
}

.index-content {
	width: 1280px;
    margin: 50px auto;
}

.index-limited-items {
	display: flex;
	margin: 25px auto;
	justify-content: space-between;
}

.card-img-bag {
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    margin: -60px 227px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    margin: 73px 2px;
}

.card-text-trans {
    font-size: 10px;
    color : gray;
    font-weight: bold;
}

.card-text-price {
    font-size: 20px;
    font-weight: bold;
}

.card-text-won {
    font-size: 11px;
    font-weight: bold;
}

.card-text-score {
    font-size: smaller;
    color: lightgray;
}

.more-items {
    text-align: center;
    margin: 0px 0px 150px;
}

.button-more-items {
    background-color: white;
    padding: 20px;
    width: 900px;
    border: 1px solid;
}

.more-items-text {
    font-weight: bold;
    font-size: smaller;
}

.itemlist-body {
    text-align: center;
}

.itemlist2 {
	display: flex;
    justify-content: space-between;
}

.itemlist3 {
	display: flex;
    justify-content: space-between;
}
