/* 노브랜드 배너(노브랜드의 시작) */
.text-gray {
	color: gray;
}

.middle {
	height: 100px;
	line-height: 100px;
}

/* 로고를 포함한 검색창과 툴 */
.nobrand-logo-block {
	width: 1280px;
	margin: 0 auto;
}

.title-nobrand {
	max-width: 470px;
	max-height: 76px;
	vertical-align: middle;
	margin: 0 10% 0 25%;
}

.nobrand-searchbox {
	position: relative;
}

.nobrand-searchbox {
	float: left;
	width: 210px;
	height: 38px;
	background: #fff;
	padding: 0 0 0 9px;
	border: none;
	border-bottom: 2px solid #222;
}

.search-icon {
	position: absolute;
	float: right;
	background-color: #fff;
	padding: 7px 7px 5px;
	border-bottom: 2px solid #222;
}

.tools {
	position: relative;
}

.search-tool {
	position: absolute;
	left: 255px;
	top: 5px;
	width: 30px;
	align-items: center;
	align-items: baseline;
}

.material-symbols-outlined {
	position: absolute;
	left: 300px;
	top: 7px;
	align-items: baseline;
}

.category-delivery-box {
	align-items: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.category-main {
	margin: 0 auto;
}

.title-searchbox {
	margin: 0 25% 0 0;
}

.list {
	padding: 0 10px 0 10px;
}

::placeholder {
	color: gray;
}

.block {
	display: inline-block;
	position: relative;
}

.etc {
	margin-right: 300px;
}

.carousel-main {
	width: 1280px;
	margin: auto;
}

.index-content {
	width: 1280px;
	margin: auto;
}

.index-limited-items {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.card {
	border: 0px;
}