.middle {
	height: 100px;
	line-height: 100px;
}

.background-color {
	background-color: rgb(255, 216, 0);
}

/* 로고를 포함한 검색창과 툴 */
.nobrand-logo-block {
	width: 1280px;
	margin: 0 auto;
}

.nobrand-search-box {
	display: flex;
	background: white;
    border: 2px solid;
    height: 37px;
    padding: 10px;
    align-items: center;
}

.nobrand-search-input {
	background: 0;
    border: 0px;
	font-size: small;
}

.nobrand-serach-button {
	border: 0;
    background: 0;
}

.search-icon {
	border: 0px;
    background: 0;
}

.tools {
	display: flex;
    align-items: center;
}

.search-tool {
	width: 30px;
	margin : 0px 20px;
}


.category-delivery-box {
    align-items: center;
    margin: 30px auto 0px;
    display: flex;
    justify-content: center;

}
 
.category-main {
	margin: 0 auto;
}

.category-main-anchor {
    text-decoration: none;
    color: black;
}

.category-main-anchor:hover {
	color: gray;
}

.title-searchbox {
	margin: 0 25% 0 0;
}

.list {
	padding: 0 10px 0 10px;
}

::placeholder {
	color: gray;
}

.block {
	display: inline-block;
	position: relative;
}

.nobrand-title {
	padding: 20px;
}

.nobrand-logo-block {
	position: relative;
	text-align: center;
}

.title-nobrand {
	max-height: 76px;
}

.nobrand-search {
	position: absolute;
	display: flex;
    right: 0;
    bottom: 13px;
}